@charset "UTF-8";
/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* T Y P O G R A P H Y
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/
body {
  font-family: "Fira Sans", sans-serif;
  line-height: 24px;
  font-weight: 300;
  color: #9B9B9B;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Butler", serif;
  font-weight: 500;
  color: #293E59;
}

h1 {
  font-size: 72px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link {
  color: #293E59 !important;
}

.wrapper {
  max-width: 1335px;
  margin: 36px auto 0;
  position: relative;
  padding: 0 24px;
}

.btn {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 6px 28px;
  border-radius: 25px/25px;
  margin-top: 30px;
}

.btn.primary {
  background: #18A6DE;
  color: #fff;
}

.btn.primary.primary {
  background: transparent;
  color: #18A6DE;
  border: 2px solid #18A6DE;
}

/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* HEADER
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.navbar .navbar__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1;
          flex: 1 0 1;
}

.navbar .navbar__logo img {
  width: 100%;
}

.navbar .navbar__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1;
          flex: 1 0 1;
  margin-left: auto;
}

.navbar .navbar__menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar__menu ul li {
  margin-right: 32px;
}

.navbar .navbar__menu ul li a {
  text-decoration: none;
  padding: 10px 0;
  display: block;
  color: #484A54;
  font-size: 14px;
  white-space: nowrap;
}

.navbar .navbar__menu ul li a.btn__link {
  padding: 10px 24px;
  border-radius: 30px/25px;
  background: #18A6DE;
  color: #fff;
}

.navbar .navicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navicon img {
  display: block;
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/
@media screen and (max-width: 768px) {
  .navbar .navbar__logo {
    -webkit-box-flex: 121px;
        -ms-flex: 121px 0 0px;
            flex: 121px 0 0;
  }
  .navbar .navbar__menu ul li:not(:nth-last-child(-n + 1)) {
    display: none;
  }
  .navbar .navbar__menu ul li a.btn__link {
    padding: 0px 16px;
    border-radius: 30px/25px;
  }
}

/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* M A I N
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/
/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* S L I D E R
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/
.slider {
  position: relative;
  margin-bottom: 700px;
}

.slider .slider__content {
  position: relative;
  top: 140px;
}

.slider .slider__content h1 {
  margin-bottom: 24px;
}

.slider .slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.slider .slider__slide .slide__caption {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  text-align: right;
  margin-right: 24px;
  position: relative;
  bottom: 40px;
}

.slider .slider__slide .slide__caption span {
  font-size: 12px;
}

.slider .slider__slide .slide__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider .slider__slide .slide__image img {
  display: block;
}

.slider .slider__slide .slide__image .slide__navigation {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 1px;
  background: #80C7E5;
  margin-top: 46px;
  margin-left: auto;
  position: relative;
  right: 15%;
  z-index: 888;
}

.slider .slider__slide .slide__image .slide__navigation > .navigation__dots {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.slider .slider__slide .slide__image .slide__navigation > .navigation__dots .dot {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #18A6DE;
  margin-right: 148px;
  position: relative;
}

.slider .slider__slide .slide__image .slide__navigation > .navigation__dots .dot.active::after {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #18A6DE;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.slider .slider__slide::before {
  content: '';
  width: 880px;
  height: 880px;
  background: rgba(128, 199, 229, 0.56);
  display: block;
  border-radius: 50%;
  position: absolute;
  z-index: -2;
  top: -30px;
  right: -120px;
}

.slider .slider__slide .slider__newsletter {
  background: #293E59;
  padding: 50px;
  display: block;
  position: absolute;
  top: 75%;
  left: 67%;
  right: -60px;
  z-index: 999;
}

.slider .slider__slide .slider__newsletter .newsletter__content {
  width: 100%;
  max-width: 430px;
  position: relative;
}

.slider .slider__slide .slider__newsletter .newsletter__content * {
  color: #fff !important;
}

.slider .slider__slide .slider__newsletter .newsletter__content h3 {
  position: relative;
  margin-bottom: 32px;
}

.slider .slider__slide .slider__newsletter .newsletter__content h3::after {
  content: url("../img/close.svg");
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider .slider__slide .slider__newsletter .newsletter__content p {
  font-size: 14px;
  margin-bottom: 56px;
}

.slider .slider__slide .slider__newsletter .newsletter__content input[type="email"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 0;
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 16px;
  width: 100%;
  position: relative;
}

.slider .slider__slide .slider__newsletter .newsletter__content input[type="email"]::-webkit-input-placeholder {
  color: #CACACA;
  font-size: 14px;
}

.slider .slider__slide .slider__newsletter .newsletter__content input[type="email"]:-ms-input-placeholder {
  color: #CACACA;
  font-size: 14px;
}

.slider .slider__slide .slider__newsletter .newsletter__content input[type="email"]::-ms-input-placeholder {
  color: #CACACA;
  font-size: 14px;
}

.slider .slider__slide .slider__newsletter .newsletter__content input[type="email"]::placeholder {
  color: #CACACA;
  font-size: 14px;
}

.slider .slider__slide .slider__newsletter .newsletter__content .icon__arrow {
  position: absolute;
  left: 95%;
  top: 72%;
  cursor: pointer;
}

.slider .slider__slide .slider__newsletter .newsletter__content .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.slider .slider__slide .slider__newsletter .newsletter__content .privacy input[type="checkbox"] {
  margin-right: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #fff;
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/
@media screen and (max-width: 1024px) {
  .slider, .block {
    position: relative;
    margin-bottom: 300px;
  }
  .slider .slider__content, .block .slider__content {
    position: relative;
    top: 0;
  }
  .slider .slider__content h1, .block .slider__content h1 {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 56px;
  }
  .slider .slider__slide, .block .slider__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: inherit;
  }
  .slider .slider__slide .slide__caption, .block .slider__slide .slide__caption {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
    bottom: 0;
  }
  .slider .slider__slide .slide__image, .block .slider__slide .slide__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .slider .slider__slide .slide__image img, .block .slider__slide .slide__image img {
    width: 100%;
  }
  .slider .slider__slide .slide__image .slide__navigation, .block .slider__slide .slide__image .slide__navigation {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    right: 0%;
  }
  .slider .slider__slide .slide__image .slide__navigation > .navigation__dots, .block .slider__slide .slide__image .slide__navigation > .navigation__dots {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .slider .slider__slide .slide__image .slide__navigation > .navigation__dots li .dot, .block .slider__slide .slide__image .slide__navigation > .navigation__dots li .dot {
    margin-right: 0;
  }
  .slider .slider__slide .slide__image .slide__navigation > .navigation__dots li:last-child .dot, .block .slider__slide .slide__image .slide__navigation > .navigation__dots li:last-child .dot {
    margin-right: 0;
  }
  .slider .slider__slide::before, .block .slider__slide::before {
    width: 150vw;
    height: 0;
    position: absolute;
    top: 50%;
    right: -100%;
    padding: 70vw 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .slider .slider__slide .slider__newsletter, .block .slider__slide .slider__newsletter {
    display: none;
  }
}

/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* H E L P
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/
.help .lead {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  max-width: 65%;
  margin: 0 auto 230px;
  font-family: "Butler", serif;
  color: #484A54;
}

.help .help__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help .help__boxes .box__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.help .help__boxes .box__left h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

.help .help__boxes .box__right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.help .help__boxes .box__right .why.active > .slide__navigation {
  visibility: visible;
}

.help .help__boxes .box__right .why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 65px;
}

.help .help__boxes .box__right .why .list__title {
  text-align: right;
  font-size: 32px;
  -webkit-box-flex: 32%;
      -ms-flex: 32% 0 1;
          flex: 32% 0 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.help .help__boxes .box__right .why .list__title h3 {
  max-width: 200px;
  color: #9B9B9B !important;
}

.help .help__boxes .box__right .why .slide__navigation {
  height: 1px;
  background: #80C7E5;
  margin: 0 24px;
  position: relative;
  z-index: 888;
  -webkit-box-flex: 20%;
      -ms-flex: 20% 0 1;
          flex: 20% 0 1;
  visibility: hidden;
}

.help .help__boxes .box__right .why .slide__navigation > .navigation__dots {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help .help__boxes .box__right .why .slide__navigation > .navigation__dots .dot {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #18A6DE;
  position: relative;
}

.help .help__boxes .box__right .why .slide__navigation > .navigation__dots .dot.active::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #18A6DE;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.help .help__boxes .box__right .why .list__description {
  -webkit-box-flex: 45%;
      -ms-flex: 45% 0 1;
          flex: 45% 0 1;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.help .help__boxes .box__right .why.active .list__title > h3,
.help .help__boxes .box__right .why.active .list__description > p {
  color: #293E59 !important;
}

.help .help__boxes .box__right::before {
  content: '';
  width: 880px;
  height: 880px;
  background: #E3F3F9;
  display: block;
  border-radius: 50%;
  position: absolute;
  z-index: -2;
  top: -400px;
  right: -380px;
  border: 200px solid #F6FBFD;
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/
@media screen and (max-width: 1024px) {
  .help .lead {
    max-width: 100%;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 145px;
  }
  .help .help__boxes {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .help .help__boxes .box__left {
    margin-bottom: 60px;
  }
  .help .help__boxes .box__left h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    max-width: 250px;
  }
  .help .help__boxes .box__left .btn {
    margin: 0;
  }
  .help .help__boxes .box__right .why {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
  }
  .help .help__boxes .box__right .why .list__title {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .help .help__boxes .box__right .why .list__title h3 {
    max-width: 100%;
  }
  .help .help__boxes .box__right .why .slide__navigation {
    display: none;
  }
  .help .help__boxes .box__right::before {
    content: '';
    width: 880px;
    height: 880px;
    background: #E3F3F9;
    display: block;
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    top: -270px;
    right: -700px;
    border: 200px solid #F6FBFD;
  }
}

/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* W H Y - U S
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/
.why-us {
  margin-top: 60px;
  height: 600px;
  background: url("../img/Rectangle.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.why-us * {
  color: #fff !important;
  border-color: #fff !important;
}

.why-us .why-us__content {
  width: 33%;
  margin-right: 112px;
}

.why-us .why-us__content h2 {
  margin-bottom: 24px;
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/
@media screen and (max-width: 1024px) {
  .why-us {
    margin-top: 40px;
    height: 551px;
    background-position: right center;
    position: relative;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .why-us .why-us__content {
    width: 69%;
    margin-right: 24px;
    margin-bottom: 30px;
  }
  .why-us .why-us__content h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .why-us::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(0, 0, 0, 0.4)));
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4));
  }
}

/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* B L O G
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/
.blog {
  position: relative;
}

.blog .blog__title {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 46px;
}

.blog .blog__title a {
  font-size: 14px;
}

.blog .blog__articles .post__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: scroll;
}

.blog .blog__articles .post__container .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 24px;
  position: relative;
  width: 420px;
  height: 600px;
  -webkit-box-flex: 420px;
      -ms-flex: 420px 0 0px;
          flex: 420px 0 0;
  margin-right: 24px;
}

.blog .blog__articles .post__container .post:last-child {
  margin-right: 0;
}

.blog .blog__articles .post__container .post * {
  color: #fff !important;
  border-color: #fff !important;
}

.blog .blog__articles .post__container .post img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blog .blog__articles .post__container .post .post__info {
  position: relative;
  z-index: 1;
}

.blog .blog__articles .post__container .post .post__info .date {
  font-size: 12px;
}

.blog .blog__articles .post__container .post .post__info .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.blog .blog__articles .post__container .post .post__info .tags a {
  background: #fff;
  color: #707070 !important;
  padding: 0px 12px;
  margin-right: 8px;
  margin-top: 0;
  font-size: 12px;
}

.blog .blog__articles .post__container .post .post__info .title {
  margin-bottom: 10px;
}

.blog .blog__articles .post__container .post .post__info .author {
  font-size: 14px;
}

.blog .line {
  width: 100%;
  height: 1px;
  background: #CACACA;
  margin-top: 40px;
  display: block;
  position: relative;
}

.blog .line .indicator {
  position: absolute;
  display: block;
  height: 5px;
  background: #293E59;
  border-radius: 4px;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20%;
}

/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* P L A T F O R M
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/
.platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.platform .platform__image {
  -webkit-box-flex: 70%;
      -ms-flex: 70% 1 0px;
          flex: 70% 1 0;
}

.platform .platform__image img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.platform .platform__content {
  -webkit-box-flex: 30%;
      -ms-flex: 30% 1 0px;
          flex: 30% 1 0;
  padding-left: 24px;
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/
@media screen and (max-width: 1030px) {
  .platform .platform__image {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 1 0px;
            flex: 100% 1 0;
  }
  .platform .platform__image img {
    display: block;
    height: 200px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .platform .platform__content {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 1 0px;
            flex: 100% 1 0;
    padding: 24px 0;
  }
  .platform .platform__content h2 {
    margin-bottom: 24px;
  }
}

/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* F R O M
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/
.from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/Group 2.png");
  background-size: cover;
  background-position: center;
  margin: 140px 0;
  padding: 70px 110px;
}

.from .from__form .form__content {
  width: 100%;
  max-width: 90%;
  position: relative;
}

.from .from__form .form__content h3 {
  position: relative;
  margin-bottom: 32px;
}

.from .from__form .form__content p {
  font-size: 14px;
  margin-bottom: 56px;
}

.from .from__form .form__content input[type="email"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 0;
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid #9B9B9B;
  margin-bottom: 16px;
  width: 100%;
  position: relative;
}

.from .from__form .form__content input[type="email"]::-webkit-input-placeholder {
  color: #CACACA;
  font-size: 14px;
}

.from .from__form .form__content input[type="email"]:-ms-input-placeholder {
  color: #CACACA;
  font-size: 14px;
}

.from .from__form .form__content input[type="email"]::-ms-input-placeholder {
  color: #CACACA;
  font-size: 14px;
}

.from .from__form .form__content input[type="email"]::placeholder {
  color: #CACACA;
  font-size: 14px;
}

.from .from__form .form__content .icon__arrow {
  position: absolute;
  left: 95%;
  top: 72%;
  cursor: pointer;
}

.from .from__form .form__content .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.from .from__form .form__content .privacy input[type="checkbox"] {
  margin-right: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #fff;
  border: 1px solid #293E59;
  border-radius: 4px;
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/
@media screen and (max-width: 768px) {
  .from {
    background-size: cover;
    background-position: bottom;
    margin: 120px 0;
    padding: 24px 24px 310px;
  }
  .from .from__form {
    width: 100%;
  }
  .from .from__form .form__content {
    width: 100%;
    max-width: 100%;
  }
  .from .from__form .form__content h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }
}

/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* F O O T E R
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/
footer {
  background: #F2F4F6;
  padding: 80px 24px 32px;
}

footer a {
  color: #293E59 !important;
}

footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #CACACA;
  padding-bottom: 40px;
  margin-bottom: 32px;
}

footer .footer__top .footer__col {
  -webkit-box-flex: 25%;
      -ms-flex: 25% 1 0px;
          flex: 25% 1 0;
}

footer .footer__top .footer__col h2 {
  margin-bottom: 40px;
}

footer .footer__top .footer__col:first-child {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 1 0px;
          flex: 50% 1 0;
}

footer .footer__top .footer__col:first-child .footer__content {
  max-width: 58%;
}

footer .footer__top .footer__col ul {
  list-style: none;
}

footer .footer__top .footer__col ul li a {
  text-decoration: none;
  margin-bottom: 24px;
  display: block;
}

footer .footer__top .footer__col ul li a.big__link {
  font-size: 20px;
  margin-bottom: 30px;
  display: block;
}

footer .footer__bottom .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__bottom .row .row__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer__bottom .row .row__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer__bottom .row .row__right .social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 50px;
}

footer .footer__bottom .row .row__right .social img:not(:last-child) {
  margin-right: 36px;
}

footer .footer__bottom .row__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

footer .footer__bottom .row__bottom ul {
  list-style: none;
}

footer .footer__bottom .row__bottom ul a {
  text-decoration: none;
  margin-right: 32px;
  font-size: 14px;
}

footer .footer__bottom .row__bottom ul a.active {
  text-decoration: underline;
  font-weight: 600;
}

footer .footer__bottom .row__bottom ul li:last-child a {
  margin-right: 0;
}

footer .footer__bottom .row__bottom .row__privacy {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer__bottom .row__bottom .row__privacy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__bottom .row__bottom .row__credits {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 12px;
  line-height: 18px;
}

footer .footer__bottom .row__bottom .row__lang {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer__bottom .row__bottom .row__lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/
@media screen and (max-width: 992px) {
  .row__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row__bottom > div {
    width: 100%;
    margin: 24px 0;
  }
  .row__bottom > div ul {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .row__bottom .row__credits {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 768px) {
  .footer__top .footer__col {
    -webkit-box-flex: 50% !important;
        -ms-flex: 50% !important;
            flex: 50% !important;
  }
  .footer__top .footer__col:first-child {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% 1 0px !important;
            flex: 100% 1 0 !important;
  }
  .footer__top .footer__col:first-child .footer__content {
    max-width: 100% !important;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #CACACA;
    margin-bottom: 50px;
  }
  .footer__top .footer__col:last-child ul {
    float: right;
    text-align: right;
  }
  .footer__top .footer__col:last-child ul::after {
    content: '';
    display: table;
    clear: both;
  }
  .footer__bottom .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bottom .row .social {
    margin: 32px 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */