/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* T Y P O G R A P H Y
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/

h1,h2,h3,h4,h5,h6{
   font-family: $secondaryFont;
   font-weight: 500;
   color: $secondary;
}

h1{
   font-size: 72px;
   line-height: 80px;
}

.lead{
   font-size: 32px;
   line-height: 40px;
   font-family: $secondaryFont;
}