//
// //////////////////////////////////////////////////
// ==================================================
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// V A R I A B L E S
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// ==================================================
// //////////////////////////////////////////////////
//


//
// ==================================================
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// C O L O R S
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// ==================================================

$primary: #18A6DE;
$secondary: #293E59;
$tertiary: #484A54;
$light: #F2F4F6;

$text: #9B9B9B;
$heading-color: $secondary;
$link-color: $secondary;


//
// ==================================================
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// T Y P O G R A P H Y
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// ==================================================

$primaryFont: 'Roboto', sans-serif;    // default primary font
$secondaryFont: 'Butler', serif;  // default secondary font

$fontBaseSize: 16px;  // default px font size
$lineHeight: 130%; // default % line height


//
// ==================================================
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// L A Y O U T
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// ==================================================

//
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// MEDIA QUERY
// ––––––––––––––––––––––––––––––––––––––––––––––––––
//

$media-desktop: 992px;     // Desktop devices breakpoint
$media-tablet: 768px;      // Tablet devices breakpoint
$media-smartphone: 576px;  // Smartphones devices breakpoint