@import '_variables';

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background: #fff;
   font-family: 'Fira Sans', sans-serif;
   font-weight: 400;
   color: $text;
}

/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* H E A D E R
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/

/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* N A V B A R
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.navbar{
   display: flex;
   justify-content: space-between;
   padding: 36px 64px 17px;

   .navbar__logo{
      flex: auto 0 1;
      display: flex;
      align-items: center;
      
      img{
         width: 100%;
         display: block;
      }

   } // .navbar__logo

   .navbar__navigation{
      flex: auto 0 1;

      .menu{
         list-style-type: none;
         display: flex;
         align-items: center;

         .menu__item{
            
            &:last-child > a{
               padding-right: 0;
            }

            &.btn__link{
               background: $primary;
               border-radius: 20%/50%;

               > a{
                  color: #fff;
               }

            } // .btn__link

            a{
               text-decoration: none;
               padding: 16px 30px;
               display: block;
               padding: 10px 30px;
               font-size: 14px;
               font-weight: 500;
               color: $secondary;
               white-space: nowrap;
            }

         } // .menu__item

      } // .menu

   } // .navbar__navigation

} // .navbar

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@media screen and (max-width: 768px){

   .navbar{
      padding: 36px 16px 17px;

      .navbar__logo{
         margin-right: 32px;
      } // .navbar__logo
      
      .navbar__navigation{
         
         .menu{
            
            .menu__item{
               
               &:not(:nth-last-child(-n + 2)){
                  display: none;
               }
               
               &.btn__link{
                  background: $primary;
                  border-radius: 15%/50%;
                  
                  > a{
                     padding: 2px 16px;
                  }
                  
               } // .btn__link
               
            } // .menu__item
            
         } // .menu
         
      } // .navbar__navigation
   
   } // .navbar

} // @ smartphone

