@import '_variables';
@import '_typography';

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

// body{
//    padding: 0 24px;
// }

a:link{ color: $link-color!important; }


.wrapper{
   max-width: 1335px;
   margin: 36px auto 0;
   position: relative;
   padding: 0 24px;
}

.btn{
   display: inline-block;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   padding: 6px 28px;
   border-radius: 25px/25px;
   margin-top: 30px;

   &.primary{
      background: $primary;
      color: #fff;
      
      &.primary{
         background: transparent;
         color: $primary;
         border: 2px solid $primary;
      } // .btn.primary.outline
      
   } // .btn.primary
   
} // .btn

/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* HEADER
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 16px;
   
   .navbar__logo{
      flex: 1 0 1;
      
      img{ width: 100%; }
   } // .navbar__logo
   
   .navbar__menu{
      flex: 1 0 1;
      margin-left: auto;
      
      ul{
         list-style: none;
         display: flex;
         
         li{
            margin-right: 32px;
            
            a{
               text-decoration: none;
               padding: 10px 0;
               display: block;
               color: $tertiary;
               font-size: 14px;
               white-space: nowrap;
               
               &.btn__link{
                  padding: 10px 24px;
                  border-radius: 30px/25px;
                  background: $primary;
                  color: #fff;
               } // .btn__link
               
            } // a
            
         } // li
         
      } // .navbar__menu ul
      
      
   } // .navbar__menu
         
   .navicon{
      display: flex;
      justify-content: center;
      align-items: center;
      
      img{ display: block; }
      
   } // .navicon
   
} // .navbar

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@media screen and (max-width: 768px){
   
   .navbar{
      
      .navbar__logo{
         flex: 121px 0 0;
      } // .navbar__logo
      
      .navbar__menu{
         
         ul{
            
            li{
               
               &:not(:nth-last-child(-n + 1)){
                  display: none;
               }
               
               a{
                  
                  &.btn__link{
                     padding: 0px 16px;
                     border-radius: 30px/25px;
                  } // .btn__link
                  
               } // a
               
            } // li
            
         } // .navbar__menu ul
         
      } // .navbar__menu
      
   } // .navbar
   
} // @ mobile


/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* M A I N
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/


/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* S L I D E R
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.slider{
   
   position: relative;
   margin-bottom: 700px;
   
   .slider__content{
      position: relative;
      top: 140px;
      
      h1{
         margin-bottom: 24px;
      }
      
   } // .slider__content
   
   .slider__slide{
      display: flex;
      // flex-wrap: wrap;
      // background: yellowgreen;
      position: absolute;
      top: 32px;
      left: 0;
      width: 100%;
      z-index: -1;
      
      .slide__caption{
         align-self: flex-end;
         flex-basis: 32%;
         flex-shrink: 1;
         text-align: right;
         margin-right: 24px;
         position: relative;
         bottom: 40px;
         
         span{
            font-size: 12px;
         }
         
      } // .slide__caption
      
      .slide__image{
         flex: 1;
         // background: cyan;
         
         img{ display: block; }
         
         .slide__navigation{
            flex-basis: 50%;
            height: 1px;
            background: $primaryLight;
            margin-top: 46px;
            margin-left: auto;
            position: relative;
            right: 15%;
            z-index: 888;
            
            > .navigation__dots{
               position: absolute;
               left: 0;
               top: 50%;
               transform: translateY(-50%);
               display: flex;
               list-style: none;
               
               .dot{
                  display: block;
                  height: 8px;
                  width: 8px;
                  border-radius: 50%;
                  background: $primary;
                  margin-right: 148px;
                  position: relative;
                  
                  &.active::after{
                     content: '';
                     display: block;
                     width: 32px;
                     height: 32px;
                     border-radius: 50%;
                     border: 2px solid $primary;
                     position: absolute;
                     bottom: 50%;
                     right: 50%;
                     transform: translate(50%,50%);
                  }
                  
               } // .dot
               
            } // .navigation__dots
            
         } // .slide__navigation
         
      } // .slide__image
      
      &::before{
         content: '';
         width: 880px;
         height: 880px;
         background: rgba($primaryLight,.56);
         display: block;
         border-radius: 50%;
         position: absolute;
         z-index: -2;
         top: -30px;
         right: -120px;
      }
      
      .slider__newsletter{
         background: #293E59;
         padding: 50px;
         display: block;
         position: absolute;
         top: 75%;
         left: 67%;
         right: -60px;
         z-index: 999;
         
         .newsletter__content{
            width: 100%;
            max-width: 430px;
            position: relative;
            
            *{ color: #fff!important; }
            
            h3{
               position: relative;
               margin-bottom: 32px;
               
               &::after{
                  content: url('../img/close.svg');
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
               }
            } // h3
            
            p{
               font-size: 14px;
               margin-bottom: 56px;
            } // p
            
            input[type="email"]{
               appearance: none;
               padding: 8px 0;
               display: block;
               background: transparent;
               border: none;
               border-bottom: 1px solid #fff;
               margin-bottom: 16px;
               width: 100%;
               position: relative;
               
               &::placeholder{
                  color: #CACACA;
                  font-size: 14px;
               }
               
            } // .input email
            
            .icon__arrow{
               position: absolute;
               left: 95%;
               top: 72%;
               cursor: pointer;
            }
            
            .privacy{
               display: flex;
               align-items: center;
               font-size: 12px;
               
               input[type="checkbox"]{
                  margin-right: 8px;
                  -moz-appearance:none;
                  -webkit-appearance:none;
                  -o-appearance:none;
                  width: 16px;
                  height: 16px;
                  display: inline-block;
                  background: #fff;
               }
               
            } // .privacy
            
         } // .newsletter__content
         
      } // .slider__newsletter
      
   } // .slider__slide
   
} // .slider

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@media screen and (max-width: 1024px){
   
   .slider, .block{
      
      position: relative;
      margin-bottom: 300px;
      
      .slider__content{
         position: relative;
         top: 0;
         
         h1{
            margin-bottom: 24px;
            font-size: 48px;
            line-height: 56px;
         }
         
      } // .slider__content
      
      .slider__slide{
         flex-direction: column;
         position: inherit;
         
         .slide__caption{
            flex-basis: 100%;
            margin-right: 0;
            bottom: 0;
         } // .slide__caption
         
         .slide__image{
            flex: 1;
            
            img{ width: 100%; }
            
            .slide__navigation{
               flex-basis: 100%;
               right: 0%;
               
               > .navigation__dots{
                  justify-content: space-between;
                  width: 100%;
                  
                  li{
                     
                     .dot{ margin-right: 0; }
                     
                  } // li
                  
                  li:last-child .dot{ margin-right: 0; }
                  
               } // .navigation__dots
               
            } // .slide__navigation
            
         } // .slide__image
         
         &::before{
            width: 150vw;
            height: 0;
            position: absolute;
            top: 50%;
            right: -100%;
            padding: 70vw 0;
            transform: translate(0, -50%);
         }
         
         .slider__newsletter{ display: none; }
         
      } // .slider__slide
      
   } // .slider
   
} // @ tablet


/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* H E L P
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.help{
   
   .lead{
      text-align: center;
      font-size: 32px;
      line-height: 40px;
      max-width: 65%;
      margin: 0 auto 230px;
      font-family: $secondaryFont;
      color: $tertiary;
   }
   
   .help__boxes{
      display: flex;
      align-items: center;
      
      .box__left{
         flex: 1;
         
         h2{
            font-size: 48px;
            margin-bottom: 30px;
         }
         
      } // .box:first-child
      
      .box__right{
         flex: 3;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: relative;
         
         .why.active > .slide__navigation{
            visibility: visible;
         }
         
         .why{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 65px;
            
            .list__title{
               text-align: right;
               font-size: 32px;
               flex: 32% 0 1;
               display: flex;
               justify-content: flex-end;
               text-align: right;
               
               h3{
                  max-width: 200px;
                  color: $text-color!important;
               }
               
            } // .list__title
            
            .slide__navigation{
               height: 1px;
               background: $primaryLight;
               margin: 0 24px;
               position: relative;
               z-index: 888;
               flex: 20% 0 1;
               visibility: hidden;
               
               > .navigation__dots{
                  width: 100%;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  display: flex;
                  list-style: none;
                  justify-content: space-between;
                  
                  .dot{
                     display: block;
                     height: 8px;
                     width: 8px;
                     border-radius: 50%;
                     background: $primary;
                     position: relative;
                     
                     &.active::after{
                        content: '';
                        display: block;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 2px solid $primary;
                        position: absolute;
                        bottom: 50%;
                        right: 50%;
                        transform: translate(50%,50%);
                     }
                     
                  } // .dot
                  
               } // .navigation__dots
               
            } // .slide__navigation
            
            .list__description{
               flex: 45% 0 1;
               text-align: left;
               display: flex;
               justify-content: flex-end;
            } // .list__description
            
            &.active{
               
               .list__title > h3,
               .list__description > p{
                  color: $secondary!important;
               }
               
            }
            
         } // .why
         
         &::before{
            content: '';
            width: 880px;
            height: 880px;
            background: $primaryUltraLight;
            display: block;
            border-radius: 50%;
            position: absolute;
            z-index: -2;
            top: -400px;
            right: -380px;
            border: 200px solid $primaryMegaLight;
         }
         
      } // .box__right
      
   } // .help__boxes
   
} // .help


/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@media screen and (max-width: 1024px){
   
   .help{
      
      .lead{
         max-width: 100%;
         font-size: 24px;
         line-height: 30px;
         margin-bottom: 145px;
      }
      
      .help__boxes{
         align-items: flex-start;
         flex-direction: column;
         
         .box__left{
            margin-bottom: 60px;
            
            h2{
               font-size: 32px;
               line-height: 40px;
               margin-bottom: 32px;
               max-width: 250px;
            }
            
            .btn{ margin: 0; }
            
         } // .box:first-child
         
         .box__right{
            
            .why{
               flex-direction: column;
               align-items: flex-start;
               margin-bottom: 40px;
               
               .list__title{
                  text-align: left;
                  font-size: 24px;
                  line-height: 30px;
                  margin-bottom: 24px;
                  
                  h3{
                     max-width: 100%;
                  }
                  
               } // .list__title
               
               .slide__navigation{
                  display: none;
               } // .slide__navigation
               
            } // .why
            
            &::before{
               content: '';
               width: 880px;
               height: 880px;
               background: $primaryUltraLight;
               display: block;
               border-radius: 50%;
               position: absolute;
               z-index: -2;
               top: -270px;
               right: -700px;
               border: 200px solid $primaryMegaLight;
            }
            
         } // .box__right
         
      } // .help__boxes
      
   } // .help
   
} // @ tablet


/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* W H Y - U S
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.why-us{
   margin-top: 60px;
   height: 600px;
   background: url('../img/Rectangle.png');
   background-size: cover;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   text-align: right;
   
   *{
      color: #fff!important;
      border-color: #fff!important;
   }
   
   .why-us__content{
      width: 33%;
      margin-right: 112px;
      
      h2{ margin-bottom: 24px; }
      
   } // .why-us__content
   
} // .why-us


/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@media screen and (max-width: 1024px){
   
   .why-us{
      margin-top: 40px;
      height: 551px;
      background-position: right center;
      position: relative;
      align-items: flex-end;
      
      .why-us__content{
         width: 69%;
         margin-right: 24px;
         margin-bottom: 30px;
         
         h2{
            font-size: 32px;
            line-height: 40px;
         } // h2
         
      } // .why-us__content
      
      &::after{
         content: '';
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         background-image: linear-gradient(90deg, transparent, rgba(0,0,0,.4));
      }
      
   } // .why-us
   
} // @ tablet


/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* B L O G
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.blog{
   position: relative;
   
   .blog__title{
      margin-top: 140px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 46px;
      
      a{ font-size: 14px; }
      
   } // .blog__title
   
   .blog__articles{
      
      .post__container{
         display: flex;
         align-items: center;
         width: 100%;
         overflow: scroll;
         
         .post{
            display: flex;
            align-items: flex-end;
            padding: 40px 24px;
            position: relative;
            width: 420px;
            height: 600px;
            flex: 420px 0 0;
            margin-right: 24px;
            
            &:last-child{
               margin-right: 0;
            }
            
            *{
               color: #fff!important;
               border-color: #fff!important;
            }
            
            img{ 
               height: 100%;
               width: 100%;
               object-fit: cover;
               object-position: center;
               position: absolute;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
            } // img
            
            .post__info{
               position: relative;
               z-index: 1;
               
               .date{
                  font-size: 12px;
               } // .date
               
               .tags{
                  display: flex;
                  margin: 10px 0;
                  
                  a{
                     background: #fff;
                     color: #707070!important;
                     padding: 0px 12px;
                     margin-right: 8px;
                     margin-top: 0;
                     font-size: 12px;
                  } // a
                  
               } // .tags
               
               .title{
                  margin-bottom: 10px;
               } // .title
               
               .author{
                  font-size: 14px;
               } // .author
               
            } // .post__info
            
         } // .post
      
      } // .post__container
      
   } // .blog__articles
   
   .line{
      width: 100%;
      height: 1px;
      background: #CACACA;
      margin-top: 40px;
      display: block;
      position: relative;
      
      .indicator{
         position: absolute;
         display: block;
         height: 5px;
         background: $secondary;
         border-radius: 4px;
         left: 10%;
         top: 50%;
         transform: translateY(-50%);
         width: 20%;
      } // .indicator
   } // .line
   
} // .blog


/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* P L A T F O R M
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.platform{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   
   .platform__image{
      flex: 70% 1 0;
      
      img{
         display: block;
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
   }
   
   .platform__content{
      flex: 30% 1 0;
      padding-left: 24px;
   }
   
} // .platform

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@media screen and (max-width: 1030px){

   .platform{
      
      .platform__image{
         flex: 100% 1 0;
   
         img{
            display: block;
            height: 200px;
            width: 100%;
            object-fit: cover;
         }
      }
   
      .platform__content{

         h2{ margin-bottom: 24px; }

         flex: 100% 1 0;
         padding: 24px 0;
      }
      
   } // .platform
}


/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* F R O M
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.from{
   display: flex;
   align-items: center;
   background: url('../img/Group 2.png');
   background-size: cover;
   background-position: center;
   margin: 140px 0;
   padding: 70px 110px;
   
   .from__form{
      
      .form__content{
         width: 100%;
         max-width: 90%;
         position: relative;
         
         h3{
            position: relative;
            margin-bottom: 32px;
            
         } // h3
         
         p{
            font-size: 14px;
            margin-bottom: 56px;
         } // p
         
         input[type="email"]{
            appearance: none;
            padding: 8px 0;
            display: block;
            background: transparent;
            border: none;
            border-bottom: 1px solid $text-color;
            margin-bottom: 16px;
            width: 100%;
            position: relative;
            
            &::placeholder{
               color: #CACACA;
               font-size: 14px;
            }
            
         } // .input email
         
         .icon__arrow{
            position: absolute;
            left: 95%;
            top: 72%;
            cursor: pointer;
         }
         
         .privacy{
            display: flex;
            align-items: center;
            font-size: 12px;
            
            input[type="checkbox"]{
               margin-right: 8px;
               -moz-appearance:none;
               -webkit-appearance:none;
               -o-appearance:none;
               width: 16px;
               height: 16px;
               display: inline-block;
               background: #fff;
               border: 1px solid $secondary;
               border-radius: 4px;
               
            }
            
         } // .privacy
         
      } // .newsletter__content
      
   } // .from__form
   
} // .from


/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@media screen and (max-width: 768px){
   
   .from{
      background-size: cover;
      background-position: bottom;
      margin: 120px 0;
      padding: 24px 24px 310px;
      
      .from__form{
         width: 100%;
         
         .form__content{
            width: 100%;
            max-width: 100%;
            
            h3{
               font-size: 24px;
               line-height: 30px;
               margin-bottom: 16px;
            } // h3
            
         } // .newsletter__content
         
      } // .from__form
      
   } // .from
   
} // @ tablet


/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* F O O T E R
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/

footer{
   background: $light;
   padding: 80px 24px 32px;

   a{ color: $secondary!important; }
   
   .footer__top{
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #CACACA;
      padding-bottom: 40px;
      margin-bottom: 32px;
      
      .footer__col{
         flex: 25% 1 0;
         
         h2{
            margin-bottom: 40px;
         }
         
         &:first-child{
            flex: 50% 1 0;
            
            .footer__content{
               max-width: 58%;
            }
            
         }
         
         ul{
            list-style: none;
            
            li{
               
               a{
                  text-decoration: none;
                  margin-bottom: 24px;
                  display: block;
               }
               
               a.big__link{
                  font-size: 20px;
                  margin-bottom: 30px;
                  display: block;
               }
               
            } // li
            
         } // ul
         
      }
      
   }
   
   .footer__bottom{
      
      .row{
         display: flex;
         
         .row__left{
            flex: 1;
         } // .row__left
         
         .row__right{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-end;
            
            .social{
               flex: 1;
               margin-bottom: 50px;
               
               img:not(:last-child){
                  margin-right: 36px;
               }
               
            } // .social
            
         } // .row__right
         
      } // .row

      .row__bottom{
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
         text-align: center;

         ul {
            list-style: none;

            a{
               text-decoration: none;
               margin-right:32px;
               font-size: 14px;

               &.active{
                  text-decoration: underline;
                  font-weight: 600;
               }
            }

            li:last-child a{ margin-right: 0; }
            
         }

         .row__privacy{
            flex: 1;

            ul{
               display: flex;
            }

         }
         
         .row__credits{
            flex: 2;
            font-size: 12px;
            line-height: 18px;
         }
         
         .row__lang{
            flex: 1;

            ul{
               display: flex;
               justify-content: flex-end;
            }

         }

      } // .row__bottom
      
   } // .footer__bottom

} // footer


/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@media screen and (max-width: 992px){

   .row__bottom{
      flex-direction: column-reverse;
      align-items: center;

      > div{
         width: 100%;
         margin: 24px 0;

         ul{ justify-content: center!important; }

      }

      .row__credits{ order: -1; }
   
   }

} // @ tablet

@media screen and (max-width: 768px){

   .footer__top{

      .footer__col{
         flex: 50%!important;
      }

      .footer__col:first-child{
         flex: 100% 1 0!important;

         .footer__content{
            max-width: 100%!important;
            text-align: center;
            padding-bottom: 50px;
            border-bottom: 1px solid #CACACA;
            margin-bottom: 50px;
         }
      }

      .footer__col:last-child ul{
         float: right;
         text-align: right;

         &::after{
            content: '';
            display: table;
            clear: both;
         }
      }

   }

   .footer__bottom .row{
      flex-direction: column;
      align-items: center;

      .social{ margin: 32px 0!important; }

   }

} // @ tablet